# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# Datasets
casia-fasd/

# Ignore casia-fasd zip files
casia-fasd.zip
casia-fasd*.zip

# Operating System files
.DS_Store
Thumbs.db

# Ignore picture files in dataset folder only (not root)
dataset/**/*.png
dataset/**/*.pic

vit_cache

vit-antispoofing
venv_wk